# Python/Conda/VSCode
.backend_env/
backend/.venv/
backend/src/__pycache__/
backend/src/*.pyc
backend/.env
__pycache__/
*.py[cod]

# Node
frontend/node_modules/
frontend/dist/

# Docker & PG data
pgdata/
docker-compose.override.yml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
EOF